{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'admin/css/project.css' %}">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'admin/js/project.js' %}"></script>
{% endblock %}

{% block content %}
<div class="project-admin-wrapper">

    <div class="project-header">
        <div>
            <h1>{{ original|default:"Add New Project" }}</h1>
            <p>Manage project information, media and configuration.</p>
        </div>

        <div class="project-actions">
            {{ block.super }}
        </div>
    </div>

</div>
{% endblock %}