{% extends "admin/properties/crm_base.html" %}
{% load admin_urls %}


{% block card_content %}

<div class="crm-header">

{% if obj.developer %}

<span class="crm-badge blue">
DEV{{ obj.developer.id|stringformat:"03d" }}
</span>

<div class="crm-title">
{{ obj.developer.title }}
</div>

<div class="crm-meta">
👤 {{ obj.developer.contact_person|default:"-" }}
</div>

<div class="crm-meta">
📞 {{ obj.developer.contact_no|default:"-" }}
</div>

<div class="crm-meta">
📍 {{ obj.developer.city|default:"-" }}
</div>

{% elif obj.project %}

<span class="crm-badge green">
PRJ{{ obj.project.id|stringformat:"03d" }}
</span>

<div class="crm-title">
{{ obj.project.project_name }}
</div>

<div class="crm-meta">
🏢 {{ obj.project.developer }}
</div>

<div class="crm-meta">
📍 {{ obj.project.city }}
</div>

{% elif obj.architect %}

<span class="crm-badge orange">
ARC{{ obj.architect.id|stringformat:"03d" }}
</span>

<div class="crm-title">
{{ obj.architect.title }}
</div>

<div class="crm-meta">
📞 {{ obj.architect.contact_no }}
</div>

{% elif obj.engineer %}

<span class="crm-badge red">
ENG{{ obj.engineer.id|stringformat:"03d" }}
</span>

<div class="crm-title">
{{ obj.engineer.title }}
</div>

<div class="crm-meta">
📞 {{ obj.engineer.contact_no }}
</div>

{% endif %}

</div>


<div class="section">

<div class="section-title">

📌 Followup Details

</div>

<div class="row">

<b>Status :</b>

{{ obj.status }}

</div>

<div class="row">

<b>Date :</b>

{{ obj.followup_date|date:"d M Y h:i A" }}

</div>

<div class="row">

<b>Assigned :</b>

{{ obj.assigned_to|default:"-" }}

</div>

{% if obj.comment %}

<div class="row">

<b>Comment :</b>

{{ obj.comment }}

</div>

{% endif %}

</div>


<div class="section">

<div class="section-title">

Tracking

</div>

<div class="row">

Created By :
{{ obj.created_by }}

</div>

<div class="row">

Created :
{{ obj.create_at|date:"d M Y h:i A" }}

</div>

<div class="row">

Updated By :
{{ obj.updated_by }}

</div>

<div class="row">

Updated :
{{ obj.update_at|date:"d M Y h:i A" }}

</div>

</div>